:root {
    --primary:#7579e7;
    --secondary: #678aeb;
    --semi:#a3d8f4;
    --white:#ffffff;
    
    --danger:#ce1126;
    --success:#fcd116;
    --light: #0038a8;
    --blurr:#a9abf1;

    --fg-loader:#dddfe2;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f6fa;
    color: white;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.col {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
canvas {
  background-color:white !important;
  padding: .5rem;
  box-shadow: 0px 0px 2px 0px rgba(117,121,231,0.30);  
  margin:2rem 0;
  border-radius:5px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: fixed;
  text-indent: -9999em;
  border-top: .8rem solid var(--fg-loader);
  border-right: .8rem solid  var(--fg-loader);
  border-bottom: .8rem solid  var(--fg-loader);
  border-left: .8rem solid var(--primary);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  animation: load8 1s infinite linear;
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

